/* 번역 수정창 */
.translation_edit_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 1em;
    box-sizing: border-box;
    clear: both;
    position: relative;
    padding-right: 25px;
}

.translation_edit_textarea {
    width: 100%;
    padding: 1em;
    margin: 0;
    background-color: var(--SmartThemeBlurTintColor);
    line-height: 1.5;
    border: none;
    border-radius: 8px;
    resize: vertical;
    color: var(--SmartThemeBodyColor);
    max-height: 400px;
    min-height: 50px;
    overflow-y: auto;
    box-sizing: border-box;
}

.translation_edit_button_container {
    display: flex;
    gap: 0.5em;
    margin-top: 0.5em;
    justify-content: flex-end;
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 25px;
}

.translation_edit_action {
    font-size: 1.2em;
    color: var(--smartThemeButtonFontColor);
}

.mes .extraMesButtons .translation_edit_action {
    opacity: 0.7;
    padding: 0.25em;
    border-radius: 4px;
    cursor: pointer;
    transition: opacity .3s ease;
    font-size: 0.9em;
    background-color: var(--SmartThemeBlurTintColor);
    color: var(--SmartThemeBodyColor);
    margin-left: 0.5em;
}

.mes .extraMesButtons .translation_edit_action:hover {
    opacity: 1;
}

.mes.editing .mes_edit,
.mes.editing .mes_buttons {
    display: none;
}

/* 메세지 액션 아이콘 줄바꿈 */
.extraMesButtons {
    display: flex;
    flex-wrap: wrap;
}

/* 파라미터 설정 섹션 */
.parameter-settings {
    margin-top: 10px;
}

.parameter-group {
    display: none;
    margin-top: 10px;
}

.parameter-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    gap: 10px;
}

.parameter-item {
    flex: 1;
    max-width: 48%;
}

.parameter-item small {
    display: block;
    margin-bottom: 5px;
}

.parameter-row {
    display: flex;
    gap: 5px;
    width: 100%;
}

.parameter-row .parameterbox {
    flex: 1;
    width: 50%;
}

.parameter-row .neo-range-slider,
.parameter-row .neo-range-input {
    width: 100%;
}

.parameterbox small {
    text-align: center;
    display: block;
    width: 100%;
}

.parameterbox {
    align-items: center;
}

.flexFlowColumn {
    flex-flow: column;
}
.gap0 {
    gap: 0 !important;
}

/* 번역 삭제 */
.translation_settings .menu_button {
    width: fit-content;
    display: flex;
    gap: 10px;
    flex-direction: row;
}
